.portal--FeedbackCard {
  &-Image {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: var(--space-3xl);
    height: var(--space-3xl);
    background: linear-gradient(180deg, #0f9fff -19.65%, #0071b3 100.13%);
    border-radius: 50%;
  }

  &-Button {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-Title {
    max-width: 273px;
  }
}
