.portal--PresetList {
  margin-right: -5vw;
  margin-left: -5vw;

  *::-webkit-scrollbar {
    width: initial;
    height: initial;
  }

  *::-webkit-scrollbar-thumb {
    background-color: initial;
    border-radius: initial;
  }

  *::-webkit-scrollbar-track {
    background-color: initial;
  }

  &-Wrapper {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0 5vw 30px;
  }

  &-LastItem {
    display: block;
    width: 5vw;
    height: 1px;
    flex-shrink: 0;

    @media (min-width: 720px) {
      display: none;
    }
  }

  &-Item {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
    width: auto;
    min-height: var(--control-height-m);
    padding: var(--space-xs) var(--space-s);
    color: var(--color-typo-primary);
    background: var(--color-control-bg-default);
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px var(--brandColor);
    font-size: var(--size-text-m);
    text-align: center;
    cursor: pointer;
    transition: color 0.2s, box-shadow 0.2s;

    &:not(:first-child) {
      margin-left: var(--space-xs);
    }

    @media (min-width: 720px) {
      flex-grow: 2;
      font-size: var(--size-text-l);
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: var(--brandColor);
      transition: transform 0.3s;
      transform: translateX(-100%);
      transform-origin: left center;
    }

    &_checked {
      color: var(--color-control-typo-primary);
      box-shadow:
        inset 0 0 0 1px var(--brandColor),
        0 12px 18px -11px var(--brandColor);
      transition: color 0.2s, box-shadow 0.2s;

      &::before {
        transform: translateX(0);
      }
    }

    &:not(.portal--PresetList-Item_checked):hover {
      color: var(--color-control-typo-primary);

      &::before {
        transform: translateX(0);
      }
    }
  }
}
