.portal--AboutVideo {
  --bg: var(--color-control-bg-primary);
  --content: var(--color-control-typo-primary);
  --playSize: 1em;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: transparent;
  appearance: none;
  border: none;
  box-shadow: none;
  font-size: var(--size-text-m);
  cursor: pointer;

  @media (min-width: 1024px) {
    --playSize: 2.5em;
    display: block;
    max-width: 13em;
  }

  &-Play {
    position: relative;
    float: left;
    width: 5em;
    height: auto;
    margin: 0 var(--space-m) 0 0;
    background: var(--bg);
    border-radius: 50%;
    transition: background 0.24s, transform 0.24s;

    &::before {
      content: '';
      float: left;
      padding-top: 100%;
    }

    @media (min-width: 1024px) {
      width: 100%;
      margin: 0 0 var(--space-l);
    }
  }

  &-Triangle {
    position: absolute;
    top: 50%;
    left: 55%;
    width: var(--playSize);
    height: var(--playSize);
    background-color: var(--content);
    border-top-right-radius: 30%;
    text-align: left;
    transform: translate(-50%, -50%) rotate(30deg) skewX(-30deg) scale(1, 0.866);
    filter:
      drop-shadow(10px 20px 30px rgba(var(--color-shadow-modal-1), 0.1))
      drop-shadow(8px 14px 20px rgba(var(--color-shadow-modal-2), 0.12));

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: var(--playSize);
      height: var(--playSize);
      background-color: inherit;
      border-top-right-radius: 30%;
    }

    &::before {
      transform:
        rotate(-135deg) skewX(-45deg) scale(1.414, 0.707)
        translate(0, -50%);
    }

    &::after {
      transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
    }
  }

  &-Content {
    color: var(--color-control-typo-secondary);
    transition: color 0.32s;
  }

  &:hover &-Play {
    --bg: var(--color-control-bg-primary-hover);
    --content: var(--color-control-typo-primary-hover);
    transform: scale(1.05);
  }

  &:hover &-Content {
    color: var(--color-control-typo-secondary-hover);
  }

  &-Modal.Modal-Window {
    position: relative;
    width: 900px;
    min-width: 0;
    max-width: calc(100% - var(--space-s));
    height: 400px;
    min-height: 0;
    max-height: calc(100% - var(--space-s));
    background: #000;

    @media (min-width: 720px) {
      max-width: 90%;
      max-height: 90%;
    }
  }

  &-ModalRoot.Modal {
    z-index: 9999;
  }

  &-YouTube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}
