.portal--FAQ {
  position: relative;

  &-Title {
    max-width: 18ch;
  }

  &-Accordion {
    border-top: 1px solid var(--color-bg-border);

    &_view {
      &_collapsed {
        .portal--FAQ-Answer {
          max-height: 0;
        }
      }

      &_expanded {
        .portal--FAQ-Answer {
          max-height: 200vh;
          transition-timing-function: cubic-bezier(0.7, 0, 0.5, 1);
        }

        .portal--FAQ-CollapseIcon {
          transform: scale(1.4) rotate(45deg);
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid var(--color-bg-border);
    }
  }

  &-Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-xl) 0 var(--space-2xl);
    cursor: pointer;
  }

  &-Answer {
    overflow: hidden;
    transition: max-height 0.32s;

    & > *:last-child {
      margin-bottom: var(--space-5xl);
    }
  }

  &-CollapseIcon {
    flex-shrink: 0;
    margin-left: var(--space-s);
    transition: transform 0.32s, color 0.32s;
  }
}
