.portal--AddComponentData {
  margin-bottom: var(--space-xl);

  & li {
    margin-bottom: var(--space-xs);
    font-size: var(--size-text-s);
  }

  &-Text {
    display: inline;
    margin-left: var(--space-s);
  }
}
