.portal--Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3vw 5vw;
  background-color: var(--color-bg-default);

  @media (min-width: 600px) {
    padding: var(--space-m) var(--space-4xl);
  }

  &-Logo {
    width: 100%;
    max-width: 200px;
    transform: translateY(-10%);

    @media (min-width: 600px) {
      max-width: 264px;
    }
  }

  &-Menu {
    display: flex;
    align-content: flex-end;
  }

  &-Item:not(:first-child) {
    --item-space: var(--space-xs);
    margin-left: var(--item-space);

    @media (min-width: 1024px) {
      --item-space: var(--space-2xl);
    }
  }

  &-Link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.16s;

    &:hover {
      color: var(--color-typo-link);

      & .portal--Header-Icon {
        opacity: 1;
      }
    }

    &_onlyIcon {
      margin-left: var(--space-2xs);
      font-size: 0;

      & .portal--Header-Icon {
        display: inline-flex;
      }
    }
  }

  &-Icon.Icon {
    opacity: 0.7;
    transition: opacity 0.16s;

    @media (min-width: 720px) {
      display: none;
    }
  }
}
