body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  background-color: var(--color-bg-default);
}

p {
  max-width: 64ch;
}

.portal--App {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--color-bg-default);
}

.portal--App-UpdateBrowser {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #0071b2;
}

.Container {
  box-sizing: content-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5vw;
}

.Section {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);

  @media (min-width: 720px) {
    padding-top: 16vmin;
    padding-bottom: 16vmin;
  }

  @media (min-width: 1024px) {
    padding-top: var(--space-6xl);
    padding-bottom: var(--space-6xl);
  }

  &_space_small {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);

    @media (min-width: 720px) {
      padding-top: 10vmin;
      padding-bottom: 10vmin;
    }

    @media (min-width: 1024px) {
      padding-top: var(--space-4xl);
      padding-bottom: var(--space-4xl);
    }
  }
}
