/* stylelint-disable */

$color-base-shadow: #000; /* Цвет тени */

.Theme_color_altDisplay {
  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-default: #181a29;
  --color-bg-secondary: rgb(22, 30, 65);
  --color-bg-brand: rgb(219, 51, 51);
  --color-bg-link: rgb(219, 51, 51);
  --color-bg-border: rgba(255, 255, 255, 0.2);
  --color-bg-stripe: rgba(246, 246, 253, 0.05);
  --color-bg-ghost: rgba(246, 246, 253, 0.08);
  --color-bg-tone: rgba(0, 0, 31, 0.85);
  --color-bg-soft: rgba(255, 255, 255, 0.9);
  --color-bg-system: rgb(75, 89, 99);
  --color-bg-normal: rgb(10, 165, 255);
  --color-bg-success: rgb(34, 195, 142);
  --color-bg-caution: rgb(242, 201, 76);
  --color-bg-warning: rgb(243, 139, 0);
  --color-bg-alert: rgb(245, 77, 77);
  --color-bg-critical: rgb(51, 0, 15);
  --color-typo-primary: rgb(235, 235, 255);
  --color-typo-secondary: rgba(245, 245, 255, 0.6);
  --color-typo-ghost: rgba(245, 245, 255, 0.3);
  --color-typo-brand: rgb(219, 51, 51);
  --color-typo-system: rgb(99, 120, 136);
  --color-typo-normal: rgb(0, 155, 245);
  --color-typo-success: rgb(15, 174, 121);
  --color-typo-caution: rgb(248, 199, 53);
  --color-typo-warning: rgb(230, 130, 0);
  --color-typo-alert: rgb(237, 69, 69);
  --color-typo-critical: rgb(97, 0, 29);
  --color-typo-link: hsl(0, 80%, 60%);
  --color-typo-link-minor: hsl(0, 34%, 63%);
  --color-typo-link-hover: hsl(0, 70%, 50%);
  --color-scroll-bg: rgba(246, 246, 253, 0.06);
  --color-scroll-thumb: rgba(246, 246, 253, 0.24);
  --color-scroll-thumb-hover: rgba(246, 246, 253, 0.32);
  --color-control-bg-default: rgb(25, 28, 41);
  --color-control-typo-default: rgba(245, 245, 255, 0.8);
  --color-control-typo-placeholder: rgba(245, 245, 255, 0.35);
  --color-control-bg-border-default: rgba(246, 246, 253, 0.28);
  --color-control-bg-border-default-hover: rgba(246, 246, 253, 0.52);
  --color-control-bg-border-focus: rgb(227, 95, 95);
  --color-control-bg-focus: rgba(219, 51, 51, 0.4);
  --color-control-bg-active: rgba(219, 51, 51, 0.8);
  --color-control-bg-primary: rgb(219, 51, 51);
  --color-control-bg-primary-hover: rgb(234, 67, 67);
  --color-control-typo-primary: rgb(255, 255, 255);
  --color-control-typo-primary-hover: rgb(255, 255, 255);
  --color-control-bg-secondary: rgba(25, 28, 41, 0);
  --color-control-bg-border-secondary: rgb(219, 51, 51);
  --color-control-bg-border-secondary-hover: rgb(211, 23, 23);
  --color-control-typo-secondary: rgb(228, 103, 107);
  --color-control-typo-secondary-hover: rgb(211, 23, 23);
  --color-control-bg-ghost: rgba(246, 246, 253, 0.16);
  --color-control-bg-ghost-hover: rgba(246, 246, 253, 0.23);
  --color-control-typo-ghost: rgba(245, 245, 255, 0.75);
  --color-control-typo-ghost-hover: rgba(245, 245, 255, 0.9);
  --color-control-bg-clear: rgba(246, 246, 253, 0);
  --color-control-bg-clear-hover: rgba(246, 246, 253, 0.23);
  --color-control-typo-clear: rgba(245, 245, 255, 0.75);
  --color-control-typo-clear-hover: rgba(245, 245, 255, 0.9);
  --color-control-bg-disable: rgba(246, 246, 253, 0.16);
  --color-control-bg-border-disable: rgba(246, 246, 253, 0);
  --color-control-typo-disable: rgba(245, 245, 255, 0.24);
  --color-shadow-group-1: color($color-base-shadow a(8%));
  --color-shadow-group-2: color($color-base-shadow a(32%));
  --color-shadow-layer-1: color($color-base-shadow a(8%));
  --color-shadow-layer-2: color($color-base-shadow a(32%));
  --color-shadow-modal-1: color($color-base-shadow a(8%));
  --color-shadow-modal-2: color($color-base-shadow a(32%));
}

/* stylelint-enable */
