.Theme_size_gpnPromo {
  /* Размер текста */
  --size-text-2xs: 8px;
  --size-text-xs: 10px;
  --size-text-s: 12px;
  --size-text-m: 14px;
  --size-text-l: 16px;
  --size-text-xl: 18px;
  --size-text-2xl: 20px;
  --size-text-3xl: 24px;
  --size-text-4xl: 28px;
  --size-text-5xl: 32px;
  --size-text-6xl: 36px;

  /* Межстрочный интервал */
  --line-height-text-2xs: 1.1em;
  --line-height-text-xs: 1.2em;
  --line-height-text-s: 1.4em;
  --line-height-text-m: 1.5em;
  --line-height-text-l: 1.6em;

  /* Ширина шрифта */
  --font-weight-text-thin: 100;
  --font-weight-text-extralight: 100;
  --font-weight-text-light: 300;
  --font-weight-text-regular: normal;
  --font-weight-text-medium: 500;
  --font-weight-text-semibold: 600;
  --font-weight-text-bold: bold;
  --font-weight-text-extrabold: 800;
  --font-weight-text-black: 900;

  @media screen and (min-width: 360px) {
    --size-text-2xs: 10px;
    --size-text-xs: 12px;
    --size-text-s: 14px;
    --size-text-m: 16px;
    --size-text-l: 18px;
    --size-text-xl: 20px;
    --size-text-2xl: 24px;
    --size-text-3xl: 28px;
    --size-text-4xl: 32px;
    --size-text-5xl: 36px;
    --size-text-6xl: 40px;
  }

  @media screen and (min-width: 720px) {
    --size-text-2xs: 1.1vw;
    --size-text-xs: 1.3vw;
    --size-text-s: 1.5vw;
    --size-text-m: 1.8vw;
    --size-text-l: 2vw;
    --size-text-xl: 2.5vw;
    --size-text-2xl: 3vw;
    --size-text-3xl: 3.5vw;
    --size-text-4xl: 4vw;
    --size-text-5xl: 5.5vw;
    --size-text-6xl: 7vw;
  }

  @media screen and (min-width: 1024px) {
    --size-text-2xs: 12px;
    --size-text-xs: 14px;
    --size-text-s: 16px;
    --size-text-m: 18px;
    --size-text-l: 20px;
    --size-text-xl: 24px;
    --size-text-2xl: 28px;
    --size-text-3xl: 48px;
    --size-text-4xl: 64px;
    --size-text-5xl: 72px;
    --size-text-6xl: 96px;
  }
}
