$color-base-shadow: #000; /* Цвет тени */

/* stylelint-disable */
.Theme_color_alt2Dark {
  /* //////////////////////////////
  // Цвета фонов /////////////// */
  --color-bg-default: #26262a;
  --color-bg-secondary: hsl(255, 9%, 11%);
  --color-bg-brand: rgb(115, 11, 184);
  --color-bg-link: rgb(115, 11, 184);
  --color-bg-border: rgba(255, 255, 255, 0.2);
  --color-bg-stripe: rgba(250, 246, 253, 0.06);
  --color-bg-ghost: rgba(250, 246, 253, 0.1);
  --color-bg-tone: rgba(17, 6, 25, 0.85);
  --color-bg-soft: rgba(255, 255, 255, 0.9);
  --color-bg-system: rgb(75, 89, 99);
  --color-bg-normal: rgb(10, 165, 255);
  --color-bg-success: rgb(34, 195, 142);
  --color-bg-caution: rgb(242, 201, 76);
  --color-bg-warning: rgb(243, 139, 0);
  --color-bg-alert: rgb(254, 67, 67);
  --color-bg-critical: rgb(51, 0, 15);
  --color-typo-primary: rgb(250, 250, 250);
  --color-typo-secondary: rgba(255, 255, 255, 0.6);
  --color-typo-ghost: rgba(255, 255, 255, 0.3);
  --color-typo-brand: rgb(115, 11, 184);
  --color-typo-system: rgb(94, 121, 141);
  --color-typo-normal: rgb(0, 155, 245);
  --color-typo-success: rgb(15, 174, 121);
  --color-typo-caution: rgb(248, 199, 53);
  --color-typo-warning: rgb(230, 130, 0);
  --color-typo-alert: rgb(247, 59, 59);
  --color-typo-critical: rgb(97, 0, 29);
  --color-typo-link: hsl(274, 89%, 63%);
  --color-typo-link-minor: hsl(275, 30%, 54%);
  --color-typo-link-hover: hsl(274, 95%, 70%);
  --color-scroll-bg: rgba(250, 246, 253, 0.06);
  --color-scroll-thumb: rgba(250, 246, 253, 0.24);
  --color-scroll-thumb-hover: rgba(250, 246, 253, 0.32);
  --color-control-bg-default: rgb(34, 32, 38);
  --color-control-typo-default: rgba(255, 255, 255, 0.8);
  --color-control-typo-placeholder: rgba(255, 255, 255, 0.35);
  --color-control-bg-border-default: rgba(250, 246, 253, 0.28);
  --color-control-bg-border-default-hover: rgba(250, 246, 253, 0.52);
  --color-control-bg-border-focus: rgb(144, 13, 231);
  --color-control-bg-focus: rgba(115, 11, 184, 0.4);
  --color-control-bg-active: rgba(115, 11, 184, 0.7);
  --color-control-bg-primary: rgb(115, 11, 184);
  --color-control-bg-primary-hover: rgb(141, 13, 227);
  --color-control-typo-primary: rgb(255, 255, 255);
  --color-control-typo-primary-hover: rgb(255, 255, 255);
  --color-control-bg-secondary: rgba(34, 32, 38, 0);
  --color-control-bg-border-secondary: hsl(276, 89%, 52%);
  --color-control-bg-border-secondary-hover: hsl(276, 89%, 64%);
  --color-control-typo-secondary: hsl(274, 94%, 68%);
  --color-control-typo-secondary-hover: hsl(274, 94%, 78%);
  --color-control-bg-ghost: rgba(250, 250, 250, 0.16);
  --color-control-bg-ghost-hover: rgba(250, 250, 250, 0.23);
  --color-control-typo-ghost: rgba(255, 255, 255, 0.75);
  --color-control-typo-ghost-hover: rgba(255, 255, 255, 0.9);
  --color-control-bg-clear: rgba(250, 250, 250, 0);
  --color-control-bg-clear-hover: rgba(250, 250, 250, 0.23);
  --color-control-typo-clear: rgba(255, 255, 255, 0.75);
  --color-control-typo-clear-hover: rgba(255, 255, 255, 0.9);
  --color-control-bg-disable: rgba(250, 250, 250, 0.16);
  --color-control-bg-border-disable: rgba(250, 250, 250, 0);
  --color-control-typo-disable: rgba(255, 255, 255, 0.24);
  --color-shadow-group-1: color($color-base-shadow a(8%));
  --color-shadow-group-2: color($color-base-shadow a(32%));
  --color-shadow-layer-1: color($color-base-shadow a(8%));
  --color-shadow-layer-2: color($color-base-shadow a(32%));
  --color-shadow-modal-1: color($color-base-shadow a(8%));
  --color-shadow-modal-2: color($color-base-shadow a(32%));
}
/* stylelint-enable */
